body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: rgb(243, 204, 204);
    background-image: url('BULSU_Campus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply, screen;
     }

h1 {
   text-align: center;
   margin-bottom: 40px;
   color:#f7e7e7;
   }

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    border-radius: 25px;
    padding: 20px;
    }

.prof-pic {
    width: 300px;
    height: auto;
    align-self: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    }

.name {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #000000;
    }

.details {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px 20px;
    }